@model OtelRezervasyonApp.Data.Entities.OtelSezonKapasitesi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OtelSezonKapasitesi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otel.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sezon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sezon.SezonAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtelSezonKapasite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtelSezonKapasite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
